
.button{
    display:none;
    
}


.menu{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-bottom: 50px;
    padding-top:50px;
    max-width: 100%;
  }

.menu img{

    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
   
}

.menu p{
    
        inline-size: 160px;
        justify-content: center;
        padding-left: 60px;
}

.menu h1{
    align-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
}


.menu button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: salmon;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .menu button:hover {
    opacity: 1.7;
  }

@media only screen and (min-width:32em){

    .menu{
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .wrap{
        margin-top: 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    
}
}

@media only screen and (min-width: 60em) {


    .menu{
        display: flex;
    }
.wrap{
    margin-top: 20px;

}

}