/*styling tickers*/
.wrap{
    overflow: hidden; /*hides scroll bar*/
    background: salmon;
    color:rgb(3, 3, 3);
    display: flex;
   
  }
  
  /* Moving ticker wrapper */
  
  .hmove{
    display: flex;
    justify-content: flex-start;
    
    
  }
  
  /*Have items horizonatally align */
  
  .tick{
    flex-shrink: 0;
  
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    cursor:pointer;
  }
  
  .tick:hover{
    -ms-transform: scaleY(1.5); /* IE 9 */
      transform: scaleY(2);
      
  }
  
  /*Animation moving items left to right*/ 
  
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
  }
  .hmove { animation: tickerh linear 35s infinite; }
  
  
  
  .button:hover{
      background-color:red;
      -ms-transform: scaleY(1.5); /* IE 9 */
      transform: scaleY(2);
      
  
  }
  
  .button {
    padding: 1em;
    width: 15em;
    background-color:black;
    color:white;
    cursor:pointer;
    
  
  }
  
  
.button{
    display:none;
    
}


.menu{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-bottom: 50px;
    padding-top:50px;
    max-width: 100%;
  }

.menu img{

    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
   
}

.menu p{
    
        inline-size: 160px;
        justify-content: center;
        padding-left: 60px;
}

.menu h1{
    align-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
}


.menu button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: salmon;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .menu button:hover {
    opacity: 1.7;
  }

@media only screen and (min-width:32em){

    .menu{
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .wrap{
        margin-top: 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    
}
}

@media only screen and (min-width: 60em) {


    .menu{
        display: flex;
    }
.wrap{
    margin-top: 20px;

}

}